[submodule "projects/dotfiles/vcs/dotfiles"]
	path = projects/dotfiles/vcs/dotfiles
	url = git@github.com:memclutter/dotfiles.git
[submodule "projects/nocodb-migrator/vcs/nocodb-migrator"]
	path = projects/nocodb-migrator/vcs/nocodb-migrator
	url = git@github.com:memclutter/nocodb-migrator.git
[submodule "projects/confparse/vcs/confparse"]
	path = projects/confparse/vcs/confparse
	url = git@github.com:memclutter/confparse.git
[submodule "projects/proxycheck/vcs/proxycheck"]
	path = projects/proxycheck/vcs/proxycheck
	url = git@github.com:memclutter/proxycheck.git
